/*
	@name food_delivery_app
*/
/* Only edit this if you know what you are doing! */
body { margin: 0px; padding: 0px; font-family:"Arial"; overflow-x:hidden; }

/* Only edit this if you know what you are doing! */
img { position: absolute; display: block; margin: 0px; border: none; padding: 0px; }

/* Only edit this if you know what you are doing! */
div { position: absolute; }

#content-container { display: block; position: relative; width: 414px;  margin-left: auto; margin-right: auto;  }

#_bg__successful {
	top: 0px;
	left: 0px;
	width: 414px;
	height: 896px;
	background:#;
}


#rectangle_4 {
	top: 3px;
	left: 0px;
	width: 414px;
	height: 889.47px;
	background:rgba(228.44,121.38,87.57,1);
}


#cannelloni_with_basil_tomato_sauce_2_2 {
	top: 288px;
	left: 30px;
	width: 176px;
	height: 132px;
}


#successfully_placed_ {
	top: 55px;
	left: 32px;
	width: 371px;
	height: 39px;
	overflow: hidden;
	font-family: Open Sans;
	font-size: 30px;
	font-weight: bold;
	text-align: left;
	line-height: 18px;
	padding-top: 12px;
	margin-top: -12px;
	color:#FF490F;
}


#italian_spaghetti {
	top: 288px;
	left: 223px;
	width: 177px;
	height: 43px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 20px;
	font-weight: bold;
	text-align: left;
	color:#000000;
}


#wawa_3 {
	top: 128px;
	left: 8px;
	width: 141px;
	height: 114px;
}


#your_rider_is_picking_up_your_order {
	top: 158px;
	left: 134px;
	width: 280px;
	height: 68px;
	overflow: hidden;
	font-family: Open Sans;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	color:#000000;
}


#rectangle_10 {
	top: 470px;
	left: 26px;
	width: 347px;
	height: 167px;
	background:rgba(255,255,255,0);
}

#frame_9 {
	top: 45px;
	left: 137px;
	width: 20px;
	height: 38px;
}

#wawa_4 {
	top: 128px;
	left: 8px;
	width: 141px;
	height: 114px;
}


#rectangle_11 {
	top: 470px;
	left: 26px;
	width: 347px;
	height: 167px;
	background:rgba(255,255,255,0);
}


#_1_items {
	top: 390px;
	left: 224px;
	width: 87px;
	height: 43px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 20px;
	text-align: left;
	color:#000000;
}


#order_id__7823 {
	top: 340px;
	left: 222px;
	width: 152px;
	height: 42px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 20px;
	text-align: left;
	color:#000000;
}


#rectangle_16 {
	top: 544px;
	left: 31px;
	width: 347px;
	height: 167px;
	background:rgba(255,255,255,0);
}


#rectangle_17 {
	top: 544px;
	left: 31px;
	width: 347px;
	height: 167px;
	background:rgba(255,255,255,0);
}


#rectangle_18 {
	top: 377px;
	left: 272px;
	width: 414px;
	height: 326px;
}


#__300_00 {
	top: 516px;
	left: 340px;
	width: 74px;
	height: 27.5px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 15px;
	text-align: left;
	color:#000000;
}


#__30_00 {
	top: 588px;
	left: 337px;
	width: 74px;
	height: 27.5px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 15px;
	text-align: left;
	color:#000000;
}


#__330_00 {
	top: 639px;
	left: 326px;
	width: 82px;
	height: 27.5px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 15px;
	font-weight: bold;
	text-align: left;
	color:#000000;
}


#__300_00_ek1 {
	top: 564px;
	left: 337px;
	width: 74px;
	height: 27.5px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 15px;
	text-align: left;
	color:#000000;
}

#event_note {
	top: 480px;
	left: 12px;
	width: 24px;
	height: 24px;
}

#vector {
	top: 0px;
	left: 0px;
	width: 24px;
	height: 24px;
}


#vector_ek1 {
	top: 1px;
	left: 3px;
	width: 18px;
	height: 20px;
}


#order_summary {
	top: 481px;
	left: 43px;
	width: 155px;
	height: 37px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 20px;
	text-align: left;
	color:#000000;
}


#_1x_italian_spaghetti {
	top: 515px;
	left: 15px;
	width: 139px;
	height: 28.5px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 15px;
	text-align: left;
	color:#000000;
}


#line_2 {
	top: 547px;
	left: 8px;
	width: 390px;
	height: 1px;
	
	-ms-transform:rotate(0.15deg);
	-o-transform:rotate(0.15deg);
	-webkit-transform:rotate(0.15deg);
	-moz-transform:rotate(0.15deg);
	transform:rotate(0.15deg);
	background:#000000;
}


#subtotal {
	top: 563px;
	left: 15px;
	width: 68px;
	height: 28.5px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 15px;
	text-align: left;
	color:#000000;
}


#delivery_fee {
	top: 587px;
	left: 15px;
	width: 89px;
	height: 28.5px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 15px;
	text-align: left;
	color:#000000;
}


#total {
	top: 638px;
	left: 15px;
	width: 47px;
	height: 28.5px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 15px;
	font-weight: bold;
	text-align: left;
	color:#000000;
}



/* Add your custom CSS here */
